{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .container {
            max-width: 700px;
        }

        h2 {
            color: blue;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/home">ExamIT</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Home</a></li>
                    <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Questions<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                      <li><a href="/questions">Browse Questions</a></li>
                      <li><a href="/addquestion">Add Question</a></li>
                     </ul>
                    </li>
                    <li class="dropdown">
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tests<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                     <li><a href="/tests">Browse Tests</a></li>
                     <li><a href="/addtest">Add Test</a></li>
                     </ul>
                    </li>
                    </ul>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> username? <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Edit profile</a></li>
                            <li><a href="#">Placeholder</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-log-in"></span> Login </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        {% block heading %}
        <h1>{% block page %}{% endblock %}</h1> {% endblock %}
        <br> {% block content %}{% endblock %}
        <br>
        <br><hr />
        <div class="footer">
            {% block footer %}
            <p>
             ExamIT - Multiple-choice Test Correction Utility<br />
             Created by Roger Marciniak<br />
             IT Carlow 2017
            </p>
            <br>
            <br>
            <br> {% endblock %}
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>

</html>
