{% from "sb-admin/macros/navlink.html" import nav_link with context %}

{% macro nav_bar(name) %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('admin.index')}}">{{ admin_view.admin.name }}</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="{{ url_for('admin.logout_view') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="{{url_for('admin.index')}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{{url_for('admin.cats')}}"><i class="fa fa-book fa-fw"></i> Categories</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-question-circle fa-fw"></i> Questions<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {{nav_link(name="Display Questions", url=url_for('admin.questions'), active=name)}}
                        {{nav_link(name="Add Question", url=url_for('admin.add_question'), active=name)}}
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit fa-fw"></i> Tests<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {{nav_link(name="Display Tests", url=url_for('admin.tests'), active=name)}}
                        {{nav_link(name="Generate Test", url=url_for('admin.gentest'), active=name)}}
                        {{nav_link(name="Print a Test", url=url_for('admin.printtest'), active=name)}}
                        {{nav_link(name="Correct a Test", url=url_for('admin.correcttest'), active=name)}}
                        {{nav_link(name="Test Results", url=url_for('admin.results'), active=name)}}
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
{% endmacro %}
