<!-- extend base layout -->
{% extends "sb-admin/master.html" %}

{% from "sb-admin/macros/tables/advtable.html" import adv_table %}
{% from "sb-admin/macros/tables/table.html" import table %}

{% block body %}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Corrected Assessments
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
      <p>
       Select one of the corrected assessments:
      </p>
      <div class="list-group">
       {% for test in tests %}
        <a href="{{ url_for('.displayresult', test=test) }}" class="list-group-item">{{ test }}</a>
       {% endfor %}
      </div>
					</div>
				</div>
				<!-- /.row (nested) -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}
