<!-- extend base layout -->
{% extends "sb-admin/master.html" %}

{% block body %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hello!</h3>
  </div>
  <div class="panel-body">
    <p>
     <b>For logged-in lecturer:</b>
      <br />
     Please have a look at the links in the navigation bar!
    </p>
    <br />
    <p>
    <br />
    <strong>~TODO:</strong>
     <ul>
      <li>when accessing id later use (ObjectId('_id'))</li>
      <li>fix progressbars</li>
      <li>implement printing to pdf </li>
      <li>improve + insert the prepared correction algorithm</li>
      <li>implement student panel </li>
      <li>improve UI</li>
      <li>...</li>
     </ul>
    </p>
  </div>
  <div class="panel-footer">
    by: Roger Marciniak, 16-Feb
  </div>
</div>
{% endblock %}
